name: autofix.ci

on:
  pull_request:
  push:
    branches: [main]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  FORCE_COLOR: 1
  # renovate: datasource=pypi depName=uv
  UV_VERSION: 0.9.28
  # renovate: datasource=pypi depName=nox
  NOX_VERSION: 2025.11.12

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-24.04
    permissions:
      contents: read
    steps:
    - name: Checkout code
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

    - name: Set up Python
      uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0

    - uses: astral-sh/setup-uv@803947b9bd8e9f986429fa0c5a41c367cd732b41 # v7.2.1
      with:
        version: ${{ env.UV_VERSION }}

    - name: Run lint checks
      continue-on-error: true
      run: >
        uvx
        --with nox==${{ env.NOX_VERSION }}
        nox --verbose -s lint

    - uses: autofix-ci/action@635ffb0c9798bd160680f18fd73371e355b85f27 # v1.3.2
